---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import Body from "@/components/Body.astro";
import GreetingBanner from "@/components/GreetingBanner.astro";

import Navbar from "@/components/Navbar";
import BookCarousel from "@/components/BookCarousel";
---

<DefaultLayout title="Homepage">
  <Navbar client:load />

  <Body>
    <p class="text-ctp-text">
      <GreetingBanner />
    </p>

    <div class="mt-10">
      <BookCarousel client:load />
    </div>
  </Body>
</DefaultLayout>
