---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import Body from "@/components/Body.astro";
import GreetingBanner from "@/components/GreetingBanner.astro";

import Navbar from "../components/Navbar";
---

<DefaultLayout title="Homepage">
  <Navbar client:load />

  <Body>
    <p class="text-ctp-text">
      <GreetingBanner />
    </p>
  </Body>
</DefaultLayout>
