---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import Body from "../components/Body.astro";

import Navbar from "../components/Navbar";
---

<DefaultLayout title="Homepage">
  <Navbar client:load />

  <Body>
    <p class="text-ctp-text">The content goes here</p>
  </Body>
</DefaultLayout>
