<div>
  <p class="mb-1 text-ctp-subtext1 text-sm font-medium">Hi, welcome to</p>
  <h1 class="mb-1 text-ctp-text text-2xl">
    Tri Hargianto’s <br />Book Note Collection
  </h1>
  <p class="mb-1 text-ctp-subtext1 text-sm font-medium">
    This site features my personal book notes, reviews, and affiliate links.
    Enjoy reading!
  </p>
  <p class="text-ctp-yellow font-medium">
    <a href="https://trihargianto.com/">
      Read more about me
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-5 inline"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
      </svg>
    </a>
  </p>
</div>
